@{
  Layout = "_Layout";
}

<h1>Welcome to the office of Doctors</h1>
<h2>Feel Free to add a Doctor</h2>
<hr />

<form action="/doctors" method="post">
  <label for="doctorName">Doctor name:</label>
  <input id="doctorName" name="doctorName" type="text">
  <button type="submit">Add</button>
</form>

<h4><a href="/">Return home</a></h4>
