<h1>Add a new patient</h1>

<form action="/patients" method="post">
  <label for="name">Patient name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-info">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/patients">View all patients</a></p>
