@{
  Layout = "_Layout";
}


<h1>Make your Specialty</h1>

<form action="/specialties" method="post">
  <label for="specialtyName">Create your specialty here</label>
  <input id="specialtyName" name="specialtyName" type="text">
  <button type="submit" class="btn btn-danger btn-sm">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/specialties">View all specialty</a></p>
